/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* Styles for the body */

body {
	font-family: Lato, Baskerville, Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif'Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif'Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #f8f8fc;
}
.pretty-font {
	color: #000000;
font-family: 'Satisfy', cursive;
	
}

.neutral-font { 
font-family: 'Satisfy', cursive;
}

.experiment-font {
	font-family: 'Gloock', serif;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #EA98D5;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #FCCDEA;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #000000;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

h1 {
	font-size: 70px;
}

h5 {
	color:#E81C7D;
}

.bg-pink { 
	background-color: #E81C7D;
}

.border-white { 
 background-color:#FFFFFF}